{{!-- main html template for darwnism --}}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Darwnism</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <button class="navbar-brand" href="/">
      <img src="/images/logo.PNG" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
      Home
    </button>
    <button class="navbar-brand" href="/dashboard">
      Dashboard
    </button>
    <button class="navbar-brand" href="/finalScore">
      finalScore
    </button>
    <button class="navbar-brand" href="/highScore">
      highScore
    </button>
    <button class="navbar-brand" href="/login">
      login
    </button>
    <button class="navbar-brand" href="/questionPage">
      questionPage
    </button>
  </div>
</nav>
    {{{body}}}
</body>
</html>