{{!-- Retry Button (takes in same api key to restart same quiz) --}}
<button>Retry</button>
{{!-- Final Score is ?? --}}
<h3>Your final Score is: </h3>

{{!-- Display animal lvl and image --}}
<h3>Your animal is: </h3>
{{!-- Home Button (Dashboard) --}}

<a href="/">Home</a>
