{{!-- <style>
  #intro {
        background-image: url("/images/logo.PNG");
        height: 115vh;
        width: 140vh;
      }
      </style> --}}
{{!-- Home Button (Dashboard) --}}
<div id="intro" class="bg-image col-xs-12">
<button><a href="/">Home</a></button>
<div class="row">
{{!-- Final Score is ?? --}}
  <div class="col-xs-6 col-md-4"><h2>Your final Score is: <span id="score"></span></h2></div>
  {{!-- Display animal lvl and image --}}
  <div class="col-xs-6 col-md-4"><h2>Your animal is: {{animal}} {{{determineRankImg user.rank}}}</h2> </div>
</div>


{{!-- Retry Button (takes in same api key to restart same quiz) --}}
<button>Retry</button>
</div>

<script src="/js/scores.js"></script>
