{{!-- Home Button (Dashboard) --}}
{{!-- Retry Button (takes in same api key to restart same quiz) --}}

<div id="intro">
<a href="/dashboard" class="btn btn-primary">Home</a>
<a href="/questionPage" class="btn btn-primary">Retry</a>
</div>

<div class="container text-center">

<div class="row">
  
{{!-- Final Score is ?? --}}

<div class="card col m-5" style="width: 40%; height:300px;">
<div><h2>Your final Score Is: <span id="score"></span></h2></div>

  {{!-- Display animal lvl and image --}} 

<div><h2>Your Animal Rank Is: {{determineRank score}}</h2></div>
<div>{{{determineRankImg score}}}</div>
</div>

<div class="card col m-5" style="width: 40%;">
<h2>Player Score History:</h2>
<ul class="list-group list-group-flush">
{{#each limitedScoreArray}}
  
    <li class="list-group-item">{{this.score}}</li>
  
{{/each}}
</ul>
</div>

</div>

<script src="/js/scores.js"></script>
