<div id="intro" class="bg-image col-xs-12">
    <a class="btn btn-primary" href="/">Home</a>
    <div class="row">
    <div class="col-xs-6 col-md-4"><h2>Top Players</h2></div>
    {{#each sortedLimitedScoresArray}}
    <div>
      <p>{{score}}</p>
    </div>
     {{/each}}
</div>
 
  
  
 