<<<<<<< HEAD

=======
<div class="m-5">
>>>>>>> 05843967a8591317c04c0d79492fea93d89bc8d4
<a class="btn btn-primary" href="/">Home</a>
</div>
<div class="container text-center">
<div class="card">
<div id="intro" class="bg-image col">
    <div class="row">
    <div class="col"><h2>Top Player Scores:</h2>
    <ul class="list-group list-group-flush">
    {{#each sortedLimitedScoresArray}}
    
      <li class="list-group-item">{{score}}<span>{{username}}</span><img class="miniRankPic" src="/images/Dolphin.jpeg"></img></li> 
    
    {{/each}}
    </ul>
</div>
</div> 

</div>
</div>