{{!-- Home Button (Dashboard) --}}
<a href="/">Home</a>

{{!-- Top Ranked Players --}}
{{!-- username, overall score, animal rank, and sml animal image for rank --}}
{{!-- Highest Quiz Scores --}}
{{!-- username, quiz score, animal rank, and sml animal image for rank --}}