<<<<<<< HEAD
<div id="intro" class="bg-image col-xs-12">
    <a class="btn btn-primary" href="/">Home</a>
    <div class="row">
    <div class="col-xs-6 col-md-4"><h2>Top Players</h2></div>
    {{#each sortedLimitedScoresArray}}
   
    <div class="container card md-2 p-1 ">
      <p>{{score}}</p>
    </div>
   
     {{/each}}
=======
<div class="m-5">
<a class="btn btn-primary" href="/">Home</a>
>>>>>>> 61a04a3ff94cede8702b2c2f9bccbfb416074891
</div>
<div class="container text-center">
<div class="card">
<div id="intro" class="bg-image col">
    <div class="row">
    <div class="col"><h2>Top Player Scores:</h2>
    <ul class="list-group list-group-flush">
    {{#each sortedLimitedScoresArray}}
    
      <li class="list-group-item">{{score}}<span>{{username}}</span><img class="miniRankPic" src="/images/Dolphin.jpeg"></img></li> 
    
    {{/each}}
    </ul>
</div>
</div> 
</div>
</div>