<style>
  #intro {
        background-image: url("/images/logo.PNG");
        height: 115vh;
        width: 140vh;
      }
      </style>
<div id="intro" class="bg-image col-xs-12">

{{!-- High Scores --}}
<nav><button><a href="/highScore">High Scores!</a></button>
{{!-- Log In Button --}}
<button><a href="/login">Log In!</a></button>
{{!-- Sign Up Button --}}
<button><a href="/login">Sign Up!</button>
</nav>
</div>





