<div class="hs-btn">
  <a class="btn btn-primary" href="/highScore" role="button">High Scores</a>
</div>
<div class="d-grid gap-2 col-3 mx-auto homepage-btns">
  {{#if logged_in}}
  <a href="/dashboard" class="btn btn-primary" id="home">Home</a>
  <a href="/" class="btn btn-primary" id="logout">Logout</a>
  {{else}}
  <a href="/login" class="btn btn-primary">Log In!</a>
  <a href="/login" class="btn btn-primary">Signup!</a>
  {{/if}}
</div>

{{#if logged_in}}
<script src="/js/logout.js"></script>
{{/if}}

