{{!-- High Scores --}}
<button><a href="/highScore">High Scores!</a></button>
{{!-- Log In Button --}}
<button><a href="/login">Log In!</a></button>
{{!-- Sign Up Button --}}
<button><a href="/login">Sign Up!</button>