{{!-- Log In / Sign Up Handler --}}
<div>
    <label for="email-login">Email:</label>
    <input class="form-input" type="text" id="email-login" />
</div>
<div>
    <label for="password-login">Password:</label>
    <input class="form-input" type="password" id="password-login" />
</div>