{{! Log In / Sign Up Handler }}
<div class="back-btn">
  <a class="btn btn-outline-secondary btn-sm active" href="/" role="button">Back</a>
</div>
<div class="login row">
  <div class="card-container col-sm-3 d-flex">
    <div class="card flex-grow-1">
      <div class="card body d-flex flex-column">
        <h2 class="card-title card-header text-center">Login</h2>
        <form class="login-form card-body">
          <div class="form-floating mb-3 username-input">
            <input type="text" class="form-control" id="username-login" placeholder="username" />
            <label for="username-login">Username:</label>
          </div>

          <div class="form-floating password-input">
            <input type="password" class="form-control" id="password-login" placeholder="password" />
            <label for="password-login">Password:</label>
          </div>
          <div class="d-grid gap-2 col-6 mx-auto login-btn">
            <button type="submit" class="btn btn-outline-secondary">Login</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="card-container col-sm-3 d-flex">
    <div class="card flex-grow-1">
      <div class="card body d-flex flex-column">
        <h2 class="card-title card-header text-center">Signup</h2>
        <form class="signup-form card-body">
          <div class="form-floating mb-3 username-input">
            <input type="text" class="form-control" id="username-signup" placeholder="Create Username" />
            <label for="username-signup">Create Username:</label>
          </div>
          <div class="form-floating password-input">
            <input type="password" class="form-control" id="password-signup" placeholder="Create Password" />
            <label for="password-signup">Create a Password:</label>
          </div>
          <div class="d-grid gap-2 col-6 mx-auto signup-btn">
            <button type="submit" class="btn btn-outline-secondary">Signup</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script src="/js/login.js"></script>

<li class="nav-item">
  <a class="nav-link" href="/" id="logout">logout</a>
</li>

{{!-- {{#if logged_in}}
<script src="/js/logout.js"></script>
{{/if}} --}}