{{!-- Page to display question blocks --}}

<div class="container mt-5">
{{!-- {{#each question}}
{{>questionBlock}}
{{/each}} --}}
<div class="container">
<div class="card text-center">
  <div class="card-header">
    question
  </div>
  <div class="card-body">
    <p>answer[0]</p><a id="answerA" class="btn btn-primary">A</a>
    <p>answer[1]</p><a id="answerB" class="btn btn-primary">B</a>
    <p>answer[2]</p><a id="answerC" class="btn btn-primary">C</a>
    <p>answer[3]</p><a id="answerD" class="btn btn-primary">D</a>
  </div>
</div>
</div>
</div>
<script src="/js/questions.js"></script>