{{!-- Page to display question blocks --}}

<div id="questionContainer" class="container mt-5">
<div class="container">
<div class="card text-center">
  <div class="card-header">
    <h1 id="questionBlock"></h1>
  </div>
  <div id="answerBlock" class="card-body">
    <a id="answerA" class ="btn btn-primary">A</a><p id="answerAText"></p>
    <a id="answerB" class ="btn btn-primary">B</a><p id="answerBText"></p>
    <a id="answerC" class ="btn btn-primary">C</a><p id="answerCText"></p>
    <a id="answerD" class ="btn btn-primary">D</a><p id="answerDText"></p>
  </div>
</div>
</div>
</div>
<script src="/js/questions.js"></script>
