* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
}

body {
    background-image : url("../images/background.jpg");
    background-size: cover;
    background-position: absolute;
    background-repeat: no-repeat;
    font-family: "Papyrus", "Comic Sans MS", cursive;
    
}

.logo-container {
    padding: 0;
    margin: 0;
}
.logo {
    position: absolute;
    z-index: -1;
    left: 567px;
    height: auto;
    width: 25%;
    border-radius: 100%;
    opacity: 0.9;
}

.input {
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
}

.login {
    padding: 20px;
    justify-content: space-around;
}

.card-container {
    position: relative;
    top: 75px; 

}

.card-image{
    width: 600px;
    
}

.card {
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.4);
    background-color: aliceblue;
    border-radius: 20px;
}

.card-backround{
    opacity: 95%;

}

.btn {
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: -.24px;
    background-color: rgb(238, 247, 255);
    color: black;
}

.btn:active {
    transform: scale(1.035);
  }

.btn:hover {
    color: #fff;
    filter: blur(.40px);
    box-shadow: 8px 0px 10px rgba(0, 0, 0, 0.3);
}

.login-btn, .signup-btn{
    margin: 20px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
    
}

.back-btn, .hs-btn {
    margin-top: 10px;
    margin-left: 7px;
    /* display: flex; */
}

.hs-btn{
    max-width: max-content;
    width: 100%;
}

 
.homepage-btns {
    position: absolute;
    top: 350px;
    left: 640px;
    width: 15%;
    height: 15%;
    align-items: center;
}

.homepage-btns #logout #home {
    position: absolute;
    max-height: 44%;
    width: 75%;
    left: 37px;
    top: 10px;
}
.miniRankPic{
    width:5%;
    height:5%;
}

#startQuizBtn{
    padding: 20px;
    max-height: 30%;
}

.dashboard{
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 20px;
}
.card {
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0 0px 20px 0 rgba(0,0,0,0.2);
    background-color: rgba(16.1,67.1,52.9,0.8);
    transition: 0.3s;
 }

