* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
}

body {
    background-image : url("../images/background.jpg");
    background-size: cover;
    background-position: absolute;
    background-repeat: no-repeat;
    
}

.logo-container {
    padding: 0;
    margin: 0;
}
.logo {
    position: absolute;
    z-index: -1;
    left: 567px;
    height: auto;
    width: 25%;
    border-radius: 100%;
    opacity: 0.9;
}

.input {
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
}

.login {
    padding: 20px;
    justify-content: space-around;
}

.card-container {
    position: relative;
    top: 75px; 

}

.card {
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.4);
    background-color: aliceblue;

}

.login-btn, .signup-btn{
    margin: 20px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
    
}

.logout-btn {
    margin-top: 10px;
    margin-left: 7px;
    display: flex;
}
.back-btn, .hs-btn {
    margin-top: 10px;
    margin-left: 7px;
    /* display: flex; */
}

.hs-btn{
    max-width: max-content;
    width: 100%;
}

.hs-btn button:hover {
    background-color: #ddd;
    color: #000;
}
 
.homepage-btns {
    position: absolute;
    top: 350px;
    left: 605px;
    width: 20%;
    height: 15%;
    align-items: center;
}

.homepage-btns #logout {
    position: absolute;
    max-height: 44%;
    width: 75%;
    left: 37px;
    top: 10px;
}

.dashboard{
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 20px;
}

#startQuizBtn{
    padding: 20px;
    max-height: 30%;
}
body {
    font-family: "Papyrus", "Comic Sans MS", cursive;
}

